[class*='el-col-'] {
    float: right !important;
    text-align: right;
}

.cell {
    float: right !important;
    text-align: right;
}

.cell a{
    float: right !important;
    text-align: right;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right !important;
    padding-left: 0.5rem;
    text-align: right;
}

.el-form-item__label {
    float: right !important;
    text-align: right;
}

.el-select{
    float: right !important;
    text-align: right;
}

.el-select__selected-item span{
    float: right !important;
    text-align: right;
}


